:root{ /* Declaração de variáveis */
    --vermelho: #E50914;
    --preto: #141414;
}

*{ /* Reset de espaçamento padrão */
    margin: 0;
    padding: 0;

    /*Elementos não sobrepõem o tamanho da caixa*/
    box-sizing: border-box;
}
/* Elementos base */
body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color:white;
}

header .container{ /* Alinha a div na linha da div anterior */
    display: flex;
    flex-direction: row; /* Declaração opcional, se não declarasse, ficaria declarado padrão da mesma forma*/
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 5px;
    background-image: url('../resources/img/campo.jpg');
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100px;

    font-family: 'Arial Black', Times;
    font-size: 40px;
}
header .ico_logo{
    max-height:50px;
    padding-top: 20px;
}
header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}
header nav a:hover{ /* Toda vez que passar o mouse nos elementos do menu, mudar a coloração */
    color:#fff;
}
/* Filme principal */
.time-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0, .50)100%), url('/resources/img/capa-realmd.jpg');

    height: 400px;
    background-size: cover;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.time-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.time-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    /* Indica que é um botão ao passar o mouse */
    cursor: pointer;
    transition: .3s ease all;
    
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 8px;
}

.container {
    margin-left: 30px;
}

.time-principal .container {
    width: 70%;
}

.box-time
{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-times{
    margin-top: 5px;

}
